---
variants:
  desktop: 'lg:inline-flex lg:gap-x-4 items-center hidden'
  mobile: 'flex justify-center items-center pt-4 gap-x-4 lg:hidden'
---

<div class="{{ view:variants[variant] }}">
    {{ theme:links }}
        {{ if type == 'button' }}
            {{ partial:components.button href="{link}" color="{button_variant}" size="{button_size}" }}
        {{ elseif type === 'image_link' }}
            <a aria-label="{{ aria_label }}" href="{{ link }}">
                {{ partial:components/picture :image="image" class="object-contain w-full h-auto max-h-10" sizes="(min-width: 200px) 35vw, 90vw" }}
            </a>
        {{ /if }}
    {{ /theme:links }}
</div>
