<div x-data="{ isMenuOpen: false, activeSubMenu: null, openTimeout: null, closeTimeout: null }"
    class="flex flex-row flex-wrap items-center justify-between">
    {{ partial:layout/navigation/logo }}
    <div class="flex items-center">
        {{ partial:partials/toggle_button }}
    </div>
    <div class="w-full" :class="{ 'block shadow-3xl': isMenuOpen, 'hidden': !isMenuOpen }" x-cloak>
        <ul class="flex flex-col w-full mt-5 divide-y divide-primary-200">
            {{ nav:navigation include_home="true" }}
                {{ partial:components/menu_item }}
                {{ if children }}
                    <div x-cloak x-show.important="activeSubMenu === '{{ id }}'"
                        @mouseleave="closeTimeout = setTimeout(() => { activeSubMenu = null }, 300)"
                        @mouseenter="clearTimeout(closeTimeout); openTimeout = setTimeout(() => { activeSubMenu = '{{ id }}' }, 200)">
                        {{ partial:partials/sub_menu }}
                    </div>
                {{ /if }}
            {{ /nav:navigation }}
            {{ partial:components/menu_buttons variant="mobile" }}
        </ul>
    </div>
</div>
