{{ if theme:menu_position === 'right' }}
    {{ if theme:logo_position === 'center' }}
        {{ var:menu_classes value="ml-auto" }}
    {{ /if }}

{{ elseif theme:menu_position === 'center' }}
    {{ var:menu_classes value="mx-auto" }}

{{ elseif theme:menu_position === 'left' }}
    {{ if theme:logo_position === 'center' }}
        {{ var:menu_classes value="lg:order-first" }}
    {{ else }}
        {{ var:menu_classes value="lg:mr-auto lg:pl-8" }}
    {{ /if }}
{{ /if }}

    <nav class="py-5 bg-transparent md:py-6 shadow-nav" aria-labelledby="nav-heading" :aria-expanded="isOpen"
        @keydown.escape="isOpen = false" x-data="{ isOpen: false }" @click.outside="isOpen = false">
        <div class="container">
            <div class="flex flex-wrap items-center justify-between">
                <div class="flex items-center flex-shrink-0 {{ var:logo_classes }}">
                    <a aria-label="logo" href="/">
                        {{
                            partial:components/picture
                            class="object-contain w-full h-auto max-w-[8rem]"
                            :image="theme:logo_normal"
                            sizes="(min-width: 200px) 35vw, 90vw"
                        }}
                    </a>
                </div>

                {{ partial:partials.toggle_button }}

                <div class="w-full lg:flex lg:items-center lg:w-auto {{ var:menu_classes }}"
                    :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }">
                    <ul
                        class="flex flex-col w-full px-3 mt-5 divide-y-2 lg:flex-row lg:items-center lg:divide-y-0 md:mt-0 lg:px-0 lg:py-0 lg:space-x-8">
                        {{ nav:navigation include_home="true" }}
                            {{ partial:components.menu_item }}
                        {{ /nav:navigation }}
                    </ul>
                </div>

                {{# Visible only on desktop #}}
                {{ if theme:show_links }}
                    {{ partial:components.menu_buttons variant="desktop" }}
                {{ /if }}
            </div>
        </div>
    </nav>
