<div x-data="{
    isMenuOpen: false,
    isMobile: false,
    activeSubMenu: null,
    openTimeout: null,
    closeTimeout: null
}" x-resize="isMobile = ($width < 1024)" x-effect="if (!isMenuOpen) activeSubMenu = null">
    <nav aria-labelledby="nav-heading" :aria-expanded="isMenuOpen"
        @keydown.escape="isMenuOpen = false; activeSubMenu = null"
        @click.outside="isMenuOpen = false; activeSubMenu = null" class="relative">
        <div class="bg-transparent lg:py-6 py-5 min-h-[70px] lg:min-h-[90px]">
            <div class="container">
                <template x-if="isMobile">
                    {{ partial:layout/navigation/mobile }}
                </template>
                <template x-if="!isMobile">
                    {{ partial:layout/navigation/desktop }}
                </template>
            </div>
        </div>
    </nav>
</div>
