<div class="container py-20">
    {{ if enable_location }}
        {{ if location_title }}
            {{ partial:components.heading label="{location_title}" size="h3" }}
        {{ /if }}

        {{ if location_subtitle }}
            {{ partial:components.lead label="{location_subtitle}" size="lg" class="mt-2" }}
        {{ /if }}

        <div class="grid gap-8 mt-10 md:grid-cols-2">
            {{ locations }}
                <div class="flex flex-col p-8 odd:bg-accent-ombre even:bg-accent-cyan-light">
                    {{ svg src="location-point" class="w-16 h-16 mb-24 text-gray-900 fill-current" }}

                    {{ partial:components.heading label="{title}" size="h4" }}

                    <div class="mt-4 prose prose-p:text-gray-900 prose-a:text-secondary-900">
                        {{ rich_text }}
                    </div>
                </div>
            {{ /locations }}
        </div>
    {{ /if }}

    {{ if enable_form }}
        <div class="max-w-3xl mt-16">
            {{ if form_title }}
                {{ partial:components.heading label="{form_title}" size="h3" }}
            {{ /if }}

            {{ if form_subtitle }}
                {{ partial:components.lead label="{form_subtitle}" size="lg" class="mt-2" }}
            {{ /if }}

            {{ partial:partials/form }}
        </div>
    {{ /if }}
</div>
