<div class="container py-12 md:py-20">
    <div class="flex flex-wrap mb-8 -mx-4">
        <div class="px-4 mb-4 md:w-1/2 md:mb-0">
            {{ if title }}
                {{ partial:components.heading label="{title}" size="h4" }}
            {{ /if }}
        </div>
        <div class="px-4 md:w-1/2">
            {{ if description }}
                {{ partial:components.lead label="{description}" }}
            {{ /if }}
        </div>
    </div>
    <div class="w-full overflow-hidden rounded-lg md:mt-0 max-h-96">
        {{
            partial:components/picture
            :image="image"
            cover="true"
            sizes="(min-width: 200px) 35vw, 90vw"
        }}
    </div>
</div>
