<div class="container py-16">
    <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full px-4 mb-12 md:w-1/2 md:mb-0">
            {{
                partial:components/picture
                :image="image"
                cover="true"
                sizes="(min-width: 200px) 35vw, 90vw"
            }}
        </div>
        <div class="w-full px-4 md:w-1/2">
            <div class="max-w-lg">
                {{ partial:components.heading label="{title}" size="h3" }}

                {{ if description }}
                    {{ partial:components.lead label="{description}" size="lg" class="mt-8" }}
                {{ /if }}

                {{ if toggle and label }}
                    <div class="mt-8">
                        {{ partial:components.link_button size="{button_size}" icon="md" color="{button_variant}" }}
                    </div>
                {{ /if }}
            </div>
        </div>
    </div>
</div>
