<div class="container py-16">
    <div class="flex flex-wrap items-center">
        <div class="w-full mb-12 md:w-1/2 md:mb-0">
            {{
                partial:components/picture
                :image="image"
                class="-mb-16"
                cover="true"
                sizes="(min-width: 200px) 35vw, 90vw"
            }}
        </div>
        <div class="mt-12 md:mt-0 md:w-1/2">
            <div class="max-w-xl mx-auto">
                {{ partial:components.heading label="{title}" size="h3" }}

                {{ if description }}
                    <div class="mt-8">
                        {{ partial:components.lead label="{description}" size="lg" }}
                    </div>
                {{ /if }}
            </div>
        </div>
    </div>
</div>
