<div class="bg-secondary-900">
    <div class="container py-12 md:py-16">
        <div class="flex flex-wrap items-center">
            <div class="mt-20 md:w-1/2 md:mt-0">
                <div class="md:max-w-xl">
                    {{ partial:components.heading label="{title}" color="white" size="h2" }}
                </div>
            </div>
            <div class="order-first w-full md:w-1/2 md:order-none">
                {{
                partial:components/picture
                :image="image"
                cover="true"
                sizes="(min-width: 200px) 35vw, 90vw"
                }}
            </div>
        </div>
    </div>
</div>
