<div class="container py-16 md:py-8">
    {{ if title }}
        <div class="px-5 mb-5 text-center md:mb-10">
            {{ partial:components.heading label="{title}" size="h2" }}
        </div>
    {{ /if }}
    <div class="grid grid-flow-row grid-cols-2 gap-6 md:grid-cols-none md:grid-flow-col lg:gap-0">
        {{ images }}
            {{
                partial:components/picture
                :image="url"
                class="object-contain w-full h-auto max-h-16"
                sizes="(min-width: 200px) 35vw, 90vw"
            }}
        {{ /images }}
    </div>
</div>
