<div class="container py-14">
    <div class="flex flex-col items-center">
        <div class="mb-6 text-center md:mb-12">
            {{ if title }}
                {{ partial:components.heading label="{title}" size="h2" }}
            {{ /if }}

            {{ if description }}
                {{ partial:components.lead label="{description}" size="lg" class="mt-2" }}
            {{ /if }}

        </div>
        <div class="flex flex-wrap justify-center -mx-5">
            {{ images }}
                <div class="p-5">
                    {{
                    partial:components/picture
                    :image="url"
                    class="object-contain w-full h-auto max-h-16"
                    sizes="(min-width: 200px) 35vw, 90vw"
                }}
                </div>
            {{ /images }}
        </div>
    </div>
</div>
