<div class="relative overflow-hidden">
    <div class="container">
        <div class="md:w-1/2 py-28">
            {{ if has_subtitle }}
                {{ partial:components/lead label="{subtitle}" class="uppercase" size="sm" }}
            {{ /if }}

            {{ partial:components/heading label="{title}" size="h2" }}
        </div>
        <div class="absolute top-0 right-0 hidden w-full md:block md:w-1/2 xl:w-3/5 h-80">
            <div class="absolute inset-0 w-full h-ful">
                {{
                    partial:components/picture
                    :image="header_image"
                    cover="true"
                    sizes="(min-width: 200px) 35vw, 90vw"
                }}
            </div>
        </div>
    </div>
</div>
