<div class="py-20 overflow-hidden">
    <div class="container relative pt-10 pb-40">
        <div class="flex flex-col items-center text-center space-y-44 md:space-y-0 md:flex-row md:text-left">
            <div class="md:w-6/12">
                <div class="max-w-xl mb-8">
                    {{ partial:components.heading label="{title}" size="h1" }}

                    {{ if has_description }}
                        {{ partial:components.lead label="{description}" size="lg" class="mt-8" }}
                    {{ /if }}
                </div>
                {{ if toggle and label }}
                    {{ partial:components.button size="{button_size}" color="{button_variant}" }}
                {{ /if }}
            </div>
            <div class="w-full md:w-6/12">
                {{
                    partial:components/picture
                    :image="hero_image"
                    class="object-contain w-full h-auto mx-auto max-h-[640px]"
                    sizes="(min-width: 200px) 35vw, 90vw"
                }}

                <!-- Circle -->
                <div class="filter blur-3xl md:w-[740px] md:h-[740px] w-[350px] h-[350px] bg-opacity-20 bg-primary-900 rounded-full opacity-50 absolute right-0 md:top-0 bottom-32
                transform xl:translate-x-[13%] xl:translate-y-[-16.5%] lg:translate-x-[38%] lg:translate-y-[-40%] md:translate-x-[50%] md:translate-y-[-50%] translate-x-[18%]"
                    style="z-index: -1;">
                </div>
            </div>
        </div>
    </div>
</div>
