<div class="container py-12 md:py-16">
    <div class="mx-auto mb-12 text-center md:max-w-3xl">
        {{ if title }}
            {{ partial:components.heading label="{title}" size="h2" }}
        {{ /if }}
        {{ if description }}
            {{ partial:components.lead label="{description}" size="lg" class="mt-2" }}
        {{ /if }}
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-16">
        {{ features }}
            <div class="text-center">
                {{ if image }}
                    <div class="w-8 h-8 mx-auto mb-6 overflow-hidden">
                        {{
                            partial:components/picture
                            :image="image"
                            cover="true"
                            sizes="(min-width: 200px) 35vw, 90vw"
                        }}
                    </div>
                {{ /if }}

                {{ partial:components.heading label="{title}" size="h5" }}

                {{ if description }}
                    <div class="mx-auto mt-2 md:max-w-sm">
                        {{ partial:components.lead label="{description}" }}
                    </div>
                {{ /if }}
            </div>
        {{ /features }}
    </div>
</div>
