<div class="relative">
    <div class="absolute top-0 left-0 w-full bg-primary-900 h-1/2" style="z-index: -1;"></div>
    <div class="container py-20">
        <div class="grid gap-16 py-8 bg-white rounded-lg lg:gap-8 md:grid-cols-2 lg:grid-cols-4 shadow-dark">
            {{ stats }}
                <div class="flex flex-col items-center justify-center">
                    {{ if has_icon }}
                        {{
                            partial:components/picture
                            :image="icon"
                            class="mb-4 max-h-16"
                            cover="true"
                            sizes="(min-width: 200px) 35vw, 90vw"
                        }}
                    {{ /if }}

                    <div class="text-center">
                        <p class="text-5xl font-extrabold text-primary-900">
                            {{ number }}
                        </p>

                        {{ if description }}
                            {{ partial:components.lead label="{description}" size="lg" }}
                        {{ /if }}
                    </div>
                </div>
            {{ /stats }}
        </div>
    </div>
</div>
